/* styles.css (atau nama file CSS Anda) */

.landingPage {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #212529 !important;
  }
  
  .welcomeSection {
    /* background-image: url('../../../public/img/main-bg.jpg'); */
    justify-content: center;
    align-items: center;
    font-family: 'baloo 2', sans-serif;
  }
  
  .container1 {
    display: flex;
    height: 50rem;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Menyusun elemen secara vertikal */
  }
  
  .pageTitle {
    margin-bottom: 1rem; /* Untuk memberi jarak antara judul dan deskripsi */
  }
  
  /* Menambahkan aturan font-size untuk elemen Welcome */
  .container1 .welcome-text {
    font-size: 48px; 
  }
  