/* Gaya untuk kartu profil */

.card {   
    margin: 50px auto; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex; /* Mengatur card menjadi di tengah secara vertical */
    justify-content: center; /* Mengatur card menjadi di tengah secara vertical */
    align-items: center; /* Mengatur card menjadi di tengah secara vertical */
}
.text-center{
}

.profile-image {
    justify-content: center; 
    align-items: center;
}

.image-container {
    justify-content: center; 
    align-items: center;
    display: flex;
}

.profile-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block; /* Tambahkan ini untuk memastikan gambar di tengah */
    margin: 0 auto; /* Tambahkan ini untuk mengatur pemosisian horizontal */
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Atur jarak dari bagian atas card */
}

.button-group button,
.button-group .btn {
    margin: 0 10px; /* Tambahkan jarak antara tombol */
}

/* Gaya untuk tabel */
.table-container {
    width: 800px; /* Sesuaikan lebar tabel sesuai kebutuhan */
    margin: 0 auto;
    margin-top: 20px;
}

.table-container table {
    width: 100%;
}

.table-container th,
.table-container td {
    padding: 8px;
    text-align: left;
    font-size: 18px; /* Atur ukuran font sesuai keinginan */
}

/* profile.css */

/* Animasi loading */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-text {
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
  }
  
  /* Mengatur posisi modal */
  .modal {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
